[Unit]
Description=Logitech G13 Daemon
BindsTo=g13d.target
After=g13d.target

[Service]
ExecStart=/usr/bin/g13d --config /etc/g13d/default.bind --pipe_dir /run/g13d
Restart=always

[Install]
WantedBy=g13d.target
