[Unit]
Description=Logitech G13 User Daemon

[Service]
Type=simple
ExecStart=/usr/bin/g13d --config /etc/g13/default.bind

[Install]
WantedBy=default.target
