[Unit]
Description=Logitech G13 Daemon
BindsTo=g13d.target
After=g13d.target

[Service]
ExecStart=/usr/bin/g13d --config /usr/lib/g13d/default.bind
Restart=always

[Install]
WantedBy=g13d.target
